* { /*normaliza cuerpo*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway;
}
.header{
  background-color: #F78E69;
  padding-top:20px;
  padding-bottom:50px;
}
h1{
  color:#fff;
  text-align:right;
  padding-top:40px;
  font-size: 55px;
}
p{
  color:#ffff;
  font-size: 20px;
  text-align: right;
}
.img1{
  background-image: url("../img/uno.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  height: 440px;
}
.green-container{
  background-color: #ABE188;
  border:10px #F78E69 solid;
  border-left: 0;
  border-right: 0;
}
.pinkcont{
  background-color: #F78E69;
}
.pandachinese{
  text-align:center;
  color:#fff;
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 15px;
}
.textgiantp{
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding-bottom: 30px;
  padding-left:10px;
  padding-right: 10px;
}
#giantp{
  padding-left: 10%;
  padding-top:50px;
  padding-bottom: 60px;
}
.img2{
  background-image: url("../img/dos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  height: 661px;
}
.section-green{
  width:100%;
  background-color: #ABE188;
  border:#F78E69 solid 10px;
  border-left:0;
  border-right: 0;
  padding-bottom:50px;
  padding-left: 10%;
}
.greenlilpics {
  background-color: #ABE188;
  margin-bottom: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 70px;
}
.pictxt{
  text-align: center;
  color:#fff;
  font-size: 55px;
  font-weight: 600;
  padding-top: 80px;
  padding-right: 5%;
}
.a1,.a2,.a3,.a4 {
  border: 10px white solid;
}
span{
  padding:20px;
}
@media (max-width: 1160px) {
  .a1,.a2,.a3,.a4 {
  width: 100%;
}
  .section-green{
  padding-left: 0%;
  padding-right: 10%;
}
.pictxt{
  padding-left:15%;
}
}
.img3{
  background-image: url("../img/tres.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  height: 661px;
}
.page-footer{
  background-color: #F78E69;
  text-align: right;
  height: 55px;
  padding-top:0;
}
.txtfoot{
  font-size: 18px;
  padding-right: 22px;
  padding-top: 8px;
  font-weight: 500;
  color:#fff;
  padding-top: 20px;
}
